<html>
    <head>
        <title>Django Andrei blog</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <body>
        <div class="jumbotron">
            <h1 class="display-4" <a href="/">Django Andrei Blog</a></h1>
            <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
        </div>

        {% for post in posts %}
        <div class="list-group m-3 p-1">
            <a href="#" class="list-group-item list-group-item-action">
                <div class="d-flex w-100 justify-content-between">
                    <h5 class="mb-1">{{ post }}</h5>
                    <small>{{ post.published_date }}</small>
                </div>
                <p class="mb-1">{{ post.text|linebreaksbr }}</p>
            </a>
        </div>
        {% endfor %}
    </body>
</html>